#post_entries
{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#post_entries td, #post_entries th
{
  border: 1px solid #ddd;
  padding: 8px;
}

#post_entries tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#post_entries tr:hover
{
	background-color: white;
	  color: blue;
}

#post_entries th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue;
  color: white;
}

